@model CalzadaWeb.Models.Formulario
<!DOCTYPE HTML>

<html>
	<head>
		<title>La Calzada</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="~/Content/assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
			<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
			    <div class="content">
			        <h1>Represa La Calzada <br> Nuestro Derecho</h1>
			        <p class="major">Entre todos podemos juntar firmas y ayudar a construir una mejor Calzada</p>
			        <ul class="actions vertical">
			            <li><a href="#first" class="button big wide smooth-scroll-middle">Ayudanos!</a></li>
			        </ul>
			    </div>
			    <div class="image">
			        <img src="~/Content/images/calzada/7.jpg" alt="" />
			    </div>
			</section>
                
            
			
			
           <h1 style="text-align: center; padding: 50px">Cobertura en los medios</h1>

			<!-- ARTICULO UNO -->
			    <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
			        <div class="content">
			            <h2>Chiclayo: Represa La Calzada tiene que hacerse donde está proyectada</h2>
			            <p>Presidente de Comité pro Represa La Calzada Juan Fernández Quiroz, indica que obra es vital para evitar más desbordes del río La Leche en épocas del Fenómeno del Niño.</p>
			            <ul class="actions vertical">
			                <li><a onclick="Asignarmodal(0)" class="button">Leer más</a></li>
			            </ul>
			        </div>
			        <div class="image">
			            <img src="~/Content/images/calzada/1.jpg" alt="" />
			        </div>
			    </section>
                
			    <!-- MODAL ARTICULO UNO -->
                <div id="modalArtUno" style="display: none" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Modal Uno</h2>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the Modal Body</p>
                            <p>Some other text...</p>
                        </div>
                        <div class="modal-footer">
                            <h3>Modal Footer</h3>
                        </div>
                    </div>
                </div>

                    <!-- ARTICULO DOS -->
			    <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
			        <div class="content">
			            <h2>Piden que represa La Calzada se construya donde indican los estudios</h2>
			            <p>La obra permitirá regular el caudal del río La Leche en épocas del fenómeno del Niño y brindar riego seguro decenas de hectáreas en los distritos de Pacora, Íllimo, Túcume bajo y Mórrope.</p>

			        </div>
			        <div class="image">
			            <img src="~/Content/images/calzada/6.jpg" alt="" />
			        </div>
			    </section>
               

			<!-- ARTICULO TRES -->
			    <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
			        <div class="content">
			            <h2>Piden que represa La Calzada se construya donde indican los estudios</h2>
			            <p>La obra permitirá regular el caudal del río La Leche en épocas del fenómeno del Niño y brindar riego seguro decenas de hectáreas en los distritos de Pacora, Íllimo, Túcume bajo y Mórrope.</p>
			            <ul class="actions vertical">
                            <li><a onclick="Asignarmodal(1)" class="button">Leer más</a></li>
			            </ul>
			        </div>
			        <div class="image">
			            <img src="~/Content/images/calzada/8.jpg" alt="" />
			        </div>
			    </section>
                
                <div id="modalArtTres" style="display: none" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Modal Tres</h2>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the Modal Body</p>
                            <p>Some other text...</p>
                        </div>
                        <div class="modal-footer">
                            <h3>Modal Footer</h3>
                        </div>
                    </div>
                </div>

			<!-- ARTICULO CUATRO -->
			<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
			    <div class="content">
			        <h2>Lambayeque: Convocan licitación estudio de preinversión de La Calzada</h2>
			        <p>La obra no solo permitirá neutralizar los efectos negativos del río La Leche, sino también ampliar la frontera agrícola.</p>
			        <ul class="actions vertical">
                        <li><a onclick="Asignarmodal(2)" class="button">Leer más</a></li>
			        </ul>
			    </div>
			    <div class="image">
			        <img src="~/Content/images/calzada/10.jpg" alt="" />
			    </div>
			</section>
                
            <div id="modalArtCuatro" style="display: none" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Modal Cuatro</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                    <div class="modal-footer">
                        <h3>Modal Footer</h3>
                    </div>
                </div>
            </div>

			<!-- ARTICULO CINCO -->
			<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
			    <div class="content">
			        <h2>Agricultores van a Lima para exigir ejecución de la represa La Calzada</h2>
			        <p>En los diversos distritos de Lima Metropolitana viven hace décadas miles de pobladores de los diversos distritos de la provincia lambayecana los que están organizados en las diversas asociaciones.</p>
			        <ul class="actions vertical">
                        <li><a onclick="Asignarmodal(3)" class="button">Leer más</a></li>
			        </ul>
			    </div>
			    <div class="image">
			        <img src="~/Content/images/calzada/3.jpg" alt="" />
			    </div>
			</section>
                
            <div id="modalArtCinco" style="display: none" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Modal Cinco</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                    <div class="modal-footer">
                        <h3>Modal Footer</h3>
                    </div>
                </div>
            </div>

		<!-- ARTICULO SEIS -->
			<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
			    <div class="content">
			        <h2>Lambayeque necesita hoy más que nunca la represa La Calzada</h2>
			        <p>Ante los constantes desbordes, la región Lambayeque tiene muchas zonas vulnerables, en especial en el valle La Leche, dónde se han registrado grandes pérdidas en los últimos 30 años.</p>
			        <ul class="actions vertical">
                        <li><a onclick="Asignarmodal(4)" class="button">Leer más</a></li>
			        </ul>
			    </div>
			    <div class="image">
			        <img src="~/Content/images/calzada/11.jpg" alt="" />
			    </div>
			</section>
                
            <div id="modalArtSeis" style="display: none" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Modal Seis</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                    <div class="modal-footer">
                        <h3>Modal Footer</h3>
                    </div>
                </div>
            </div>

			<section style="padding: 50px">
                        <h1 style="text-align: center">¿Donde queda la Calzada?</h1>
                        <br />
                        <div id="map"></div>
                    </section>



                    <script>
                        function initMap() {
                            var uluru = { lat: -6.4518593, lng: -79.8550452 };
                            var map = new google.maps.Map(document.getElementById('map'),
                                {
                                    zoom: 17,
                                    center: uluru
                                });
                            var marker = new google.maps.Marker({
                                position: uluru,
                                map: map
                            });
                        }
                    </script>
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgHPgZwoI0Hxo0g2k9nHP2smjAda3Rehk&callback=initMap">
                    </script>




                    <!-- Seven -->
                    <section class="wrapper style1 align-center">
                        <div class="inner medium">
                            <h2>Contactanos</h2>

                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="field half first">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>

                                <div class="field half">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefono" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>

                                <div class="field">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>

                                <div class="field">
                                    @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                </div>


                                <ul class="actions">
                                    <li><input type="submit" name="submit" id="submit" value="Enviar" /></li>
                                </ul>
                            }

                        </div>
                    </section>

                    <!-- Footer -->
                    <footer class="wrapper style1 align-center">
                        <div class="inner">
                            <ul class="icons">
                                <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
                            </ul>
                            <p>La Calzada - 2017</p>
                        </div>
                    </footer>

                </div>

		<!-- Scripts -->
			<script src="~/Content/assets/js/jquery.min.js"></script>
			<script src="~/Content/assets/js/jquery.scrollex.min.js"></script>
			<script src="~/Content/assets/js/jquery.scrolly.min.js"></script>
			<script src="~/Content/assets/js/skel.min.js"></script>
			<script src="~/Content/assets/js/util.js"></script>
	        <script src="~/Content/assets/js/main.js"></script>
        
        <script>
                        // Get the modal
                        var modalArt = [document.getElementById('modalArtUno'), document.getElementById('modalArtTres'), document.getElementById('modalArtCuatro'), document.getElementById('modalArtCinco'), document.getElementById('modalArtSeis')];


                        // Get the <span> element that closes the modal
                        var spans = [document.getElementsByClassName("close")[0], document.getElementsByClassName("close")[1], document.getElementsByClassName("close")[2], document.getElementsByClassName("close")[3], document.getElementsByClassName("close")[4]];



                        // When the user clicks on the button, open the modal
                        function Asignarmodal(id) {
                            modalArt[id].style.display = "block";

                        }

                        // When the user clicks on <span> (x), close the modal
                        spans[0].onclick = function () {
                            modalArt[0].style.display = "none";
                        }
                        spans[1].onclick = function () {
                            modalArt[1].style.display = "none";
                        }
                        spans[2].onclick = function () {
                            modalArt[2].style.display = "none";
                        }
                        spans[3].onclick = function () {
                            modalArt[3].style.display = "none";
                        }
                        spans[4].onclick = function () {
                            modalArt[4].style.display = "none";
                        }

                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function (event) {
                            if (event.target == modalArt[0]) {
                                modalArt[0].style.display = "none";
                            }
                            if (event.target == modalArt[1]) {
                                modalArt[1].style.display = "none";
                            }
                            if (event.target == modalArt[2]) {
                                modalArt[2].style.display = "none";
                            }
                            if (event.target == modalArt[3]) {
                                modalArt[3].style.display = "none";
                            }
                            if (event.target == modalArt[4]) {
                                modalArt[4].style.display = "none";
                            }
                        }

                       
        </script>

	</body>
</html>