@model CalzadaWeb.Models.Formulario
<!DOCTYPE HTML>

<html>
	<head>
		<title>La Calzada</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="~/Content/assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
			<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
			    <div class="content">
			        <h1>Represa La Calzada <br> Nuestro Derecho</h1>
			        <p class="major">Entre todos podemos juntar firmas y ayudar a construir una mejor Calzada</p>
			        <ul class="actions vertical">
			            <li><a href="#first" class="button big wide smooth-scroll-middle">Ayudanos!</a></li>
			        </ul>
			    </div>
			    <div class="image">
			        <img src="~/Content/images/calzada/7.jpg" alt="" />
			    </div>
			</section>
                
            <h1 style="text-align: center; padding: 50px">Cobertura en los medios</h1>

			<!-- ARTICULO UNO -->
			    <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
			        <div class="content">
			            <h2>Chiclayo: Represa La Calzada tiene que hacerse donde está proyectada</h2>
			            <p>Presidente de Comité pro Represa La Calzada Juan Fernández Quiroz, indica que obra es vital para evitar más desbordes del río La Leche en épocas del Fenómeno del Niño.</p>
			            <ul class="actions vertical">
			                <li><a onclick="Asignarmodal(0)" class="button">Leer más</a></li>
			            </ul>
			        </div>
			        <div class="image">
			            <img src="~/Content/images/calzada/1.jpg" alt="" />
			        </div>
			    </section>
                
			    <!-- MODAL ARTICULO UNO -->
                <div id="modalArtUno" style="display: none" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2 style="color: white">Chiclayo: Represa La Calzada tiene que hacerse donde está proyectada</h2>
                        </div>
                        <div class="modal-body">
                            <p>Presidente de Comité pro Represa La Calzada Juan Fernández Quiroz, indica que obra es vital para evitar más desbordes del río La Leche en épocas del Fenómeno del Niño.</p>
                            <p>El presidente del Comité Pro Represa La Calzada, Juan Francisco Fernández Quiroz indicó que la obra tiene que ser ejecutada en el lugar donde está proyectada, y que su construcción tiene que ser realizada por el Gobierno Regional o el Ministerio de Agricultura por la envergadura de la misma.</p>
                            <p>“Ojala que el gobierno escuche la propuesta de separar a los alcaldes de la gestión de la obra, porque están haciendo mucho daño a que se cristalice nuestro sueño. Nos costó muchos años de lucha conseguir la ley 29359 que declara de necesidad pública la construcción de la represa” indicó.</p>
                            <p>Fernández dijo que el dinero aprobado por el Foniprel para la Asociación de Municipalidades del Valle La Leche debe ser integrado al costo de un sólo estudio de preinversión o perfil-factibilidad, por cuanto ya existen estudios y términos de referencia desde 1998.</p>
                            <p>“Ya existe el levantamiento topográfico, los cerros están allí y no se mueven, el caudal está medido hasta con una media de 100 años y los tiene el Proyecto Olmos Tinajones y el estudio de factibilidad de la empresa D"león Consulting Ingineers precisa que la obras de La Calzada debe estar en el mismo curso del río La Leche en el lugar denominado La Calzada” señala el dirigente</p>
                        </div>
                        <div class="modal-footer">
                            <h3 style="color: white">La Calzada - 2017</h3>
                        </div>
                    </div>
                </div>

                    <!-- ARTICULO DOS -->
			    <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
			        <div class="content">
			            <h2>Piden que represa La Calzada se construya donde indican los estudios</h2>
			            <p>La obra permitirá regular el caudal del río La Leche en épocas del fenómeno del Niño y brindar riego seguro decenas de hectáreas en los distritos de Pacora, Íllimo, Túcume bajo y Mórrope.</p>

			        </div>
			        <div class="image">
			            <img src="~/Content/images/calzada/6.jpg" alt="" />
			        </div>
			    </section>
               

			<!-- ARTICULO TRES -->
			    <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
			        <div class="content">
			            <h2>Piden que represa La Calzada se construya donde indican los estudios</h2>
			            <p>La obra permitirá regular el caudal del río La Leche en épocas del fenómeno del Niño y brindar riego seguro decenas de hectáreas en los distritos de Pacora, Íllimo, Túcume bajo y Mórrope.</p>
			            <ul class="actions vertical">
                            <li><a onclick="Asignarmodal(1)" class="button">Leer más</a></li>
			            </ul>
			        </div>
			        <div class="image">
			            <img src="~/Content/images/calzada/8.jpg" alt="" />
			        </div>
			    </section>
                
                <div id="modalArtTres" style="display: none" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2 style="color: white">Piden que represa La Calzada se construya donde indican los estudios</h2>
                        </div>
                        <div class="modal-body">
                            <p>La obra permitirá regular el caudal del río La Leche en épocas del fenómeno del Niño y brindar riego seguro decenas de hectáreas en los distritos de Pacora, Íllimo, Túcume bajo y Mórrope.</p>
                            <p>Campesinos de la parte media y baja del valle La Leche ratificaron su exigencia a las autoridades del Gobierno Regional de Lambayeque para que la represa La Calzada se construya en el lugar donde lo indican los estudios realizados por los ingenieros hidráulicos peruanos, rusos y norteamericanos.</p>
                            <p>“El único punto de la cuenca del río La Leche donde la distancia entre ambas orillas de la cordillera es poca distancia, es en sector La Calzada y eso está en los estudios que se han realizado hasta ahora y por lo tanto, el punto de construcción de la represa no debe ser variado, porque hacerla en otro sitio es anti técnico y responderá a intereses particulares” enfatizó el presidente del Comité Pro Represa La Calzada, CPC Juan Francisco Fernández Quiróz.</p>
                            <p>El dirigente cuestiona al Gobierno Regional de Lambayeque por querer desconocer los estudios que se han realizado hasta ahora, y que indican que la represa La Calzada tiene que ser construida en el lugar de la cuenca del río La Leche llamado La Calzada por ser en lugar donde la distancia entre ambas orillas es corta, “Por intereses, los políticos argumentan que hay un problema social debido a que no quieren que se afecten 286 hectáreas ubicadas a lo largo de la ribera del río La Leche contra más de 200,000 pobladores y 20,000 hectáreas de cultivos de Íllimo, Pacora, Jayanca, Mórrope, Túcume, Mochumí y Lambayeque que son afectadas con las inundaciones” indicó a RPP Noticias.</p>
                            <p>Fernández indica que si en el Gobierno Regional de Lambayeque hace cinco años hubiesen pensado así como está pensado el ingeniero Humberto Acuña, no se hubiera construido la represa Limón del Proyecto Olmos, pues en la zona donde está la taza de la presa hubieron tres pueblos, los cuyos habitantes fueron reubicados.</p>
                        </div>
                        <div class="modal-footer">
                            <h3 style="color: white">La Calzada - 2017</h3>
                        </div>
                    </div>
                </div>

			<!-- ARTICULO CUATRO -->
			<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
			    <div class="content">
			        <h2>Lambayeque: Convocan licitación estudio de preinversión de La Calzada</h2>
			        <p>La obra no solo permitirá neutralizar los efectos negativos del río La Leche, sino también ampliar la frontera agrícola.</p>
			        <ul class="actions vertical">
                        <li><a onclick="Asignarmodal(2)" class="button">Leer más</a></li>
			        </ul>
			    </div>
			    <div class="image">
			        <img src="~/Content/images/calzada/4.jpg" alt="" />
			    </div>
			</section>
                
                <div id="modalArtCuatro" style="display: none" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2 style="color: white">Lambayeque: Convocan licitación estudio de preinversión de La Calzada</h2>
                        </div>
                        <div class="modal-body">
                            <p>La obra no solo permitirá neutralizar los efectos negativos del río La Leche, sino también ampliar la frontera agrícola.</p>
                            <p>A través del Programa Subsectorial de Irrigaciones –PSI- el Gobierno Central financiará la convocatoria de la licitación del estudio de preinversión del proyecto de la represa La Calzada, que estará ubicada en el curso medio de la cuenca del río La Leche.</p>
                            <p>El presidente regional de Lambayeque, Humberto Acuña Peralta dijo que dicha obra está considerada en el Plan Hidráulico Regional, con un enfoque más allá de la prevención, sino también del desarrollo integral y sustentable del valle La Leche, incluyendo la evaluación de alternativas que nos permitan mitigar, el impacto social en las poblaciones aledañas a la zona de embalse.</p>
                            <p>“La convocatoria del estudio de preinversión a nivel de perfil del proyecto de mejoramiento del sistema de riego y control de inundaciones del valle La Leche” conocido como Presa La Calzada, constituye una concretización de la gestión que hice ante el ministro de Agricultura, Milton Von Hesse” indicó el mandatario regional.</p>
                            <p>Acuña dijo que esta obra es la respuesta a la expectativa largamente esperada, por el Comité de Gestión del Embalse La Calzada como represente de la sociedad civil; la Junta de Usuarios del Valle La Leche, en representación de los agricultores y de la Mancomunidad de Municipalidades del Valle La Leche, como representantes políticos en el ámbito de mayor impacto de las inundaciones.</p>
                        </div>
                        <div class="modal-footer">
                            <h3 style="color: white">La Calzada - 2017</h3>
                        </div>
                    </div>
                </div>

			<!-- ARTICULO CINCO -->
			<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
			    <div class="content">
			        <h2>Agricultores van a Lima para exigir ejecución de la represa La Calzada</h2>
			        <p>En los diversos distritos de Lima Metropolitana viven hace décadas miles de pobladores de los diversos distritos de la provincia lambayecana los que están organizados en las diversas asociaciones.</p>
			        <ul class="actions vertical">
                        <li><a onclick="Asignarmodal(3)" class="button">Leer más</a></li>
			        </ul>
			    </div>
			    <div class="image">
			        <img src="~/Content/images/calzada/3.jpg" alt="" />
			    </div>
			</section>
                
            <div id="modalArtCinco" style="display: none" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2 style="color: white">Agricultores van a Lima para exigir ejecución de la represa La Calzada</h2>
                    </div>
                    <div class="modal-body">
                        <p>En los diversos distritos de Lima Metropolitana viven hace décadas miles de pobladores de los diversos distritos de la provincia lambayecana los que están organizados en las diversas asociaciones.</p>
                        <p>Por acuerdo de las comisiones de regantes del valle La Leche, los agricultores realizarán una marcha de protesta en Lima el 25 de noviembre para exigir la construcción de la represa La Calzada, en el lugar del mismo nombre ubicado en el curso medio del mencionado río indicó el presidente del comité que impulsa dicha obra, Juan Francisco Fernández Quiroz.</p>
                        <p>El dirigente indicó que ya en Chiclayo se realizó una exitosa marcha en el mes de septiembre, pero se acordó protestar en Lima, debido a que el proyecto La Calzada fue declarado de interés público hace cuatro años y hasta el momento no se ejecuta.</p>
                        <p>Vía telefónica Fernández Quiroz indicó que en los ambientes del Casino Militar en Lima se reunieron representante de las asociaciones de pobladores de los distritos del valle La Leche residentes en la capital, quienes se comprometieron a participar en la marcha que se hará el 25 de noviembre.</p>
                        <p>“En la reunión han estado dirigente de los pobladores residentes en Lima de los distritos de Jayanca, Pacora, Túcume, Íllimo, Mórrope y Mochumí y han asegurado que estarán con sus respectivas delegaciones, más los campesinos que viajarán desde la provincia de Lambayeque” indicó el presidente del comité pro construcción La Calzada, Juan Francisco Fernández Quiroz.</p>
                        <p>El dirigente puntualizó que con la represa La Calzada, los caudales que registre el río La Leche podrán ser regulados, pues primero las aguas serán represadas y luego saldrán con los volúmenes controlados, así se evitarán los desbordes y las inundaciones.</p>
                    </div>
                    <div class="modal-footer">
                        <h3 style="color: white">La Calzada - 2017</h3>
                    </div>
                </div>
            </div>

		<!-- ARTICULO SEIS -->
			<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
			    <div class="content">
			        <h2>Lambayeque necesita hoy más que nunca la represa La Calzada</h2>
			        <p>Ante los constantes desbordes, la región Lambayeque tiene muchas zonas vulnerables, en especial en el valle La Leche, dónde se han registrado grandes pérdidas en los últimos 30 años.</p>
			        <ul class="actions vertical">
                        <li><a onclick="Asignarmodal(4)" class="button">Leer más</a></li>
			        </ul>
			    </div>
			    <div class="image">
			        <img src="~/Content/images/calzada/11.jpg" alt="" />
			    </div>
			</section>
                
            <div id="modalArtSeis" style="display: none" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2 style="color: white">Lambayeque necesita hoy más que nunca la represa La Calzada</h2>
                    </div>
                    <div class="modal-body">
                        <p>Ante los constantes desbordes, la región Lambayeque tiene muchas zonas vulnerables, en especial en el valle La Leche, dónde se han registrado grandes pérdidas en los últimos 30 años.</p>
                        <p>Revisando mis archivos periodísticos de 1983, leo que los desbordes de los ríos en la región dejaron daños valorizados por el INDECI en unos 460 millones de dólares, de los cuales cerca de 120 millones de dólares fueron en el valle La Leche. En 1998, las pérdidas registradas fueron por 64 millones de dólares.</p>
                        <p>Ambas cifras demuestran el gran perjuicio que ocasionan los desbordes de los ríos, en especial el río La Leche, ubicado en la provincia de Lambayeque, pues dentro de su cuenca están los distritos de Jayanca, Pacora, Íllimo, Túcume, Mórrope y Pítipo.</p>
                        <p>El cambio climático está generando lluvias con mayor frecuencia y hasta se sospecha de que El Niño podría adelantarse. Ante este panorama, en el valle La Leche para evitar más desbordes como los del domingo 12 y viernes 23 de febrero que inundaron más de 600 hectáreas de cultivos y dejaron cerca de 800 familias damnificadas, la solución es la construcción de la represa La Calzada.</p>
                        <p>Aprendamos las lecciones que nos ha dado la naturaleza en los últimos 50 años y no esperemos tener el agua al cuello para recién actuar, como la tardía reacción de las autoridades regionales de Lambayeque que llegaron con maquinaria a los caseríos de Íllimo y Pacora ya cuando las aguas habían arrasado decena de hectáreas de cultivos y habían inundado caseríos y aislado a más de dos mil familias.</p>
                    </div>
                    <div class="modal-footer">
                        <h3 style="color: white">La Calzada - 2017</h3>
                    </div>
                </div>
            </div>

			<section style="padding: 20px">
                <h1 style="text-align: center">¿Donde queda la Calzada?</h1>
                <br />
                <div id="map"></div>
            </section>

            <script>
                function initMap() {
                    var uluru = { lat: -6.4518593, lng: -79.8550452 };
                    var map = new google.maps.Map(document.getElementById('map'),
                        {
                            zoom: 17,
                            center: uluru
                        });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgHPgZwoI0Hxo0g2k9nHP2smjAda3Rehk&callback=initMap">
            </script>
                
            <!--CONTACTO-->
			<section class="wrapper style1 align-center">
                <div class="inner medium">
                    <h2>Contactanos</h2>

                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="field half first">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="field half">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefono" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>

                        <div class="field">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="field">
                            @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>


                        <ul class="actions">
                            <li><input type="submit" name="submit" id="submit" value="Enviar" /></li>
                        </ul>
                    }

                </div>
            </section>

                    <!-- Footer -->
            <footer class="wrapper style1 align-center">
                <div class="inner">
                    <ul class="icons">
                        <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                    <p>La Calzada - 2017</p>
                </div>
            </footer>

        </div>

		<!-- Scripts -->
		<script src="~/Content/assets/js/jquery.min.js"></script>
		<script src="~/Content/assets/js/jquery.scrollex.min.js"></script>
		<script src="~/Content/assets/js/jquery.scrolly.min.js"></script>
		<script src="~/Content/assets/js/skel.min.js"></script>
		<script src="~/Content/assets/js/util.js"></script>
	    <script src="~/Content/assets/js/main.js"></script>
        
        <script>
                // Get the modal
                var modalArt = [document.getElementById('modalArtUno'), document.getElementById('modalArtTres'), document.getElementById('modalArtCuatro'), document.getElementById('modalArtCinco'), document.getElementById('modalArtSeis')];


                // Get the <span> element that closes the modal
                var spans = [document.getElementsByClassName("close")[0], document.getElementsByClassName("close")[1], document.getElementsByClassName("close")[2], document.getElementsByClassName("close")[3], document.getElementsByClassName("close")[4]];



                // When the user clicks on the button, open the modal
                function Asignarmodal(id) {
                    modalArt[id].style.display = "block";

                }

                // When the user clicks on <span> (x), close the modal
                spans[0].onclick = function () {
                    modalArt[0].style.display = "none";
                }
                spans[1].onclick = function () {
                    modalArt[1].style.display = "none";
                }
                spans[2].onclick = function () {
                    modalArt[2].style.display = "none";
                }
                spans[3].onclick = function () {
                    modalArt[3].style.display = "none";
                }
                spans[4].onclick = function () {
                    modalArt[4].style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modalArt[0]) {
                        modalArt[0].style.display = "none";
                    }
                    if (event.target == modalArt[1]) {
                        modalArt[1].style.display = "none";
                    }
                    if (event.target == modalArt[2]) {
                        modalArt[2].style.display = "none";
                    }
                    if (event.target == modalArt[3]) {
                        modalArt[3].style.display = "none";
                    }
                    if (event.target == modalArt[4]) {
                        modalArt[4].style.display = "none";
                    }
                }
        </script>
	</body>
</html>